{% extends "template.html" %}
{% block content %}
<div class="login-wrapper">
   <h2>Welcome to flask</h2>
   
   <h2>PLease login to access</h2>
   <form action="" method="post">
   <div>
      <label for="name">Username:</label>
      <input type="text" id="username" name="username" value="{{request.form.username}}">
   </div>
   <div>
      <label for="name">Password:</label>
      <input type="text" id="password" name="password" value="{{request.form.password}}">
   </div>
      <div>
      <button type="submit">Log In </button>
      </div>
      </form>
</div>

  
{% endblock %}   